@import '../vars.scss';

.catalogItem {
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;

	.name {
		margin-bottom: 10px;
	}

	.chars {
		display: flex;
		gap: 5px;
		margin-bottom: 20px;
	}

	.skuItems {
		@extend %button;
		height: auto;
		display: block;
		background-color: #e1f4ff;
		padding: 5px;
		margin-bottom: 10px;
		width: 200px;
		.skuItem {
			padding: 5px;
		}
	}

	.buyButton {
		@extend %button;
		height: auto;
	}

	.price {
		margin-bottom: 10px;
	}

	.showMoreButton {
		background: transparent;
		border: none;
		color: $blue;
		font-size: 16px;
		font-weight: 700;
		padding: 5px;
		cursor: pointer;
	}
}
