@import '../vars.scss';

.catalog {
	max-height: 60vh;
	overflow-y: scroll;

	.catalog__top {
		display: flex;
		align-items: center;
		gap: 50px;

		button {
			@extend %button;
		}
	}

	.catalog__items_grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
	}
	.catalog__items_list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
