.catalogItem {
	position: relative;
	padding: 10px;
	border-radius: 10px;
	background-color: #fff;

	.chars {
		display: flex;
		gap: 5px;
	}

	.skuItems {
		background-color: #e1f4ff;

		padding: 10px;
		z-index: 1;
		width: 100%;
		left: 0;
		position: absolute;
		.skuItem {
			padding: 5px;
		}
	}
}
